<div class="connection-form">
<%= form_for @connection do |f| %>
<% if @connection.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@connection.errors.count, "error") %> prohibited
      this goal from being saved:</h2>
    <ul>
    <% @connection.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <p>
    <%= f.label :context_of_introduction, "Context of Introduction" %><br>
    <%= f.text_area :context_of_introduction %>
  </p>
 
  <p>
    <%= f.label :role_or_purpose, "Career Role or Purpose" %><br>
    <%= f.text_area :role_or_purpose %>
  </p>

  <p>
    <%= f.label :last_communication_date, "Last Communication Date" %><br>
    <%= select_month(Date.today) %><%= select_year(Date.today) %>
  </p>

<p>
    <%= f.label :next_communication_date, "Next Communication Date" %><br>
    <%= select_month(Date.today) %><%= select_year(Date.today) %>
</p>    

<%= f.hidden_field :linkedin_id %>

  <p>
    <%= f.submit %>
  </p>
<% end %>


