<%= link_to "Home", root_path %>

<h1><b><u><center>Connections Index</center></u></b></h1>

<%= @connections['all'].each do |connection| %>

<p><b><u><%= connection.first_name %></u></b><u>&nbsp;</u><b><u><%= connection.last_name %></u></b></p>
<p><b><i><%= connection.headline %></i></b></p>
<p><b><%= connection.industry %></b></p>	
<%= image_tag connection.picture_url %>

<% end %>
<%= debug @connections %>


