<h1><font color="#08088A"><font face="BlairMdITC TT">Tiger's Eye</font><h1>
<h4><font color="#190707">
	<i>
		<p>"It's the eye of the tiger, it's the cream of the fight,</p>
		<p>Rising up to the challenge of our rivals,</p>
		<p>And the last known survivor stalks his prey in the night,</p>
		<p>And he's watching us all with the eye of the tiger."</p>
	<blockquote>Survivor (<u>Rocky</u> Soundtrack)</blockquote></i>

<br><br>

<font face="Cambria"><p>Welcome to Tiger's Eye, a premium career management system</p></font>

<br><br>

<font face="Cambria"><p>Please enter your name and e-mail so we can keep you posted on exciting developments</p><font face="Cambria">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <br><br>

  <div><%= f.submit "Keep Me Updated" %></div>

<% end %>

<br><br>





