
<div class="goal-form">
<%= form_for @goal do |f| %>
<% if @goal.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@goal.errors.count, "error") %> prohibited
      this goal from being saved:</h2>
    <ul>
    <% @goal.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :type, "Goal Type (Personal, Current Role, Future Role)" %><br>
    <%= f.text_field :type %>
  </p>

  <p>
    <%= f.label :steps_needed, "Steps Needed" %><br>
    <%= f.text_area :steps_needed %>
  </p>
 
  <p>
    <%= f.label :steps_achieved, "Steps Achieved" %><br>
    <%= f.text_area :steps_achieved %>
  </p>

  <p>
    <%= f.label :priority, "Priority (Select Integer 1-10, 1 Being Lowest Priority)" %><br>
    <%= f.text_area :priority %>
  </p>

<p>
    <%= f.label :target_date, "Target Achievement Date (Choose Single Date or Range)" %><br>
    <%= select_month(Date.today) %><%= select_year(Date.today) %>
    <h5>To</h5>
    <%= select_month(Date.today) %><%= select_year(Date.today) %>
</p>    

  <p>
    <%= f.submit %>
  </p>
<% end %>


