<h1><b><u>Goal Index</u></b></h1>
 
  <% @goals.each do |goal| %>
    <tr>
      <td><b><%= goal.title %></b></td>
      <td><p><%= goal.steps_needed %></p></td>
      <td><p><%= goal.steps_achieved %></p></td>
      <td><p><%= goal.priority %></p></td>
      <td><p><%= goal.target_date %></p></td>
	  <td><p><%= link_to "Show", goal%></p></p>      
    </tr>
  <% end %>
</table>


<p><%= link_to "Back", root_path %></p>


