<h1>Goal Index</h1>

<p>
  <strong>Goal:</strong>
  <%= @goal.title %>
</p>

<p>
  <strong>Steps Needed:</strong>
  <%= @goal.steps_needed %>
</p>

<p>
  <strong>Steps Achieved:</strong>
  <%= @goal.steps_achieved %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @goal.priority %>
</p>

<p>
  <strong>Target Date:</strong>
  <%= @goal.target_date %>
</p>


<!-- will need an edit function; consult movie app -->


<%= link_to "Back", goals_path %>

<!-- #  --><!-- will need a way to display goals as a timeline on an index page -->

